div(class="profile")
	#{profileAside}
	div(class="profile__content")
		#{avatar}
		p(class="profile__user-name click") Ivan
		div(class="profile__user-data")
			#{fieldEmail}
			#{fieldLogin}
			#{fieldName}
			#{fieldSecondName}
			#{fieldChatName}
			#{fieldPhone}
		nav(class="profile__actions")
			ul
				li: #{linkChangeProfile}
				li: #{linkChangePass}
				li: #{linkOut}
	#{modalAttach}
