div(class="chats__header")
	div(class="chats__header-interlocutor")
		#{avatar}
		p(class="chats__header-name") #{name}
	div(class="chats__header-expander")
		#{imgPopup}
		#{popupHeader}
			#{popupAddUser}
			#{popupDelUser}
			#{popupDelChat}
		#{modalAddUser}
		#{modalDelUser}
		#{modalDelChat}
