nav
	ul(class="link-container")
		li: #{linkError500}        
		li: #{linkError404}
		li: #{linkChangePass}
		li: #{linkChangeProfile}
		li: #{linkProfile}
		li: #{linkChats}
		li: #{linkReg}
		li: #{linkLogin}

